<div class="col-md-12" ng-repeat="type in types" on-finish-render="ngRepeatFinished">

    <h3>{{category.Name}}</h3>

    <div class="col-md-3 container-fluid shadow-box" style="margin-right: 20px">
        <div ng-repeat="facility in facilities | filter: {Type: category.Id} | orderBy: 'Facility.Name'">
            <input type="checkbox" ng-model="facility.Checked" ng-change="update(type, facility)"> {{facility.Name}}
        </div>
    </div>

    <div class="col-md-8 container-fluid shadow-box">
        <div>
            <canvas id="{{'chart' + type}}"></canvas>
            <div id="{{'legend' + type}}" class="doughnut-legend"></div>
        </div>
    </div>

</div>