<div class="col-md-12" ng-repeat="type in types" on-finish-render="ngRepeatFinished">

    <h3>{{ getType(type) }}</h3>

    <div class="col-md-3 container-fluid shadow-box" style="margin-right: 20px">
        <div ng-repeat="facility in facilities | filter: {Type: category.Id} | orderBy: 'Facility.Name'">
            <input type="checkbox" ng-model="facility.Checked" ng-change="update(type, facility)"> {{facility.Name}}
        </div>
    </div>

    <div class="col-md-8 container-fluid shadow-box">

        <canvas id="{{'chart' + type}}"
                class="chart chart-line" 
                chart-data="charts[type].data" 
                chart-labels="charts[type].labels" 
                chart-legend="true" 
                chart-series="charts[type].series">
        </canvas> 
    </div>

</div>