<!-- <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <h2 class="pull-left">{{'MENU.USER_MENU.MESSAGES'|translate}}</h2>
    <button class="btn btn-primary btn-fab fab pull-right" ng-click="util.goBack()" title="{{ 'REPORT.BACK' | translate }}"><i class="material-icons">arrow_back</i></button>
</div> -->
<div class="chat-container">
    <div class="chat-main">
        <div class="chat-messages" id="messages">
            <div class="list-group">
                <div ng-repeat="msg in messages">
                    <div class="list-group-item">
                        <div class="row-action-primary" ng-class="{'text-success': msg.Status == 0}">
                            <i class="material-icons">folder</i>
                        </div>
                        <div class="row-content">
                            <div class="least-content">{{msg.Send | date:'dd/MM/yyyy HH:mm'}}</div>
                            <h4 class="list-group-item-heading">{{msg.Sender}}</h4>
                            <p class="list-group-item-text">{{msg.Message}}</p>
                        </div>
                    </div>
                    <div class="list-group-separator"></div>
                </div>
            </div>
        </div>
        <div class="chat-input">


                <div class="input-group">
                    <textarea class="form-control" ng-model="newmessage"></textarea>
                    <span class="input-group-btn">
                    <button ng-click="send()" type="button" class="btn btn-primary btn-raised" style="height: 50px; margin-top: 10px">Αποστολη</button>
                </span>
                </div>

        </div>
    </div>
    <div class="chat-user-list">
        <ul class="list-group" style="padding-top: 10px">
            <li ng-repeat="user in users" class="list-group-item" style="padding: 0px">
                <i class="material-icons md-18 text-danger" ng-class="{'text-success': user.Connected}">person</i>
                <span class="chat-username">{{user.FullName}}</span>
            </li>
        </ul>
    </div>
</div>
<!-- <div class="col-sm-9 col-md-10 col-lg-10" style="height: 100%">
    <div style="overflow-y: scroll; display: block">
        <div class="list-group">
            <div ng-repeat="msg in messages">
                <div class="list-group-item">
                    <div class="row-action-primary" ng-class="{'text-success': msg.Status == 0}">
                        <i class="material-icons">folder</i>
                    </div>
                    <div class="row-content">
                        <div class="least-content">{{msg.Send | date:'dd/MM/yyyy HH:mm'}}</div>
                        <h4 class="list-group-item-heading">{{msg.Sender}}</h4>
                        <p class="list-group-item-text">{{msg.Message}}</p>
                    </div>
                </div>
                <div class="list-group-separator"></div>
            </div>
        </div>
    </div>
    <div style="position: absolute; left: 0px; bottom:10px; height: 100px; display: block">
        <div class="form-group label-static">
            <label class="control-label">Nέο Μήνυμα</label>
            <div class="input-group">
                <textarea class="form-control" ng-model="newmessage"></textarea>
                <span class="input-group-btn">
                    <button ng-click="send()" type="button" class="btn btn-default">Αποστολη</button>
                </span>
            </div>
        </div>
    </div>
</div>
<div class="col-sm-3 col-md-2 col-lg-2" style="height: 100%; background-color: black; opacity: 0.5">
    <ul class="list-group">
        <li class="list-group-item text-danger" ng-class="{'text-success': user.Connected}" ng-repeat="user in users">
        <i class="material-icons md-20">person</i>
        <span>{{user.FullName}}</span>
        </li>
    </ul>
</div> -->
