<div class="col-md-8">
    <div class="list-group">
        <div ng-repeat="msg in messages">
            <div class="list-group-item">
                <div class="row-content">
                	 <div class="least-content">{{msg.Send}}</div>
                    <h4 class="list-group-item-heading">{{msg.Sender}}</h4>
                    <p class="list-group-item-text">{{msg.Message}}</p>
                </div>
            </div>
            <div class="list-group-separator"></div>
        </div>
    </div>
</div>
<div class="col-md-4">
	<ul class="list-group">
	  <li class="list-group-item text-danger" ng-class="{'text-success': user.Connected}" ng-repeat="user in users">{{user.FullName}} <i class="material-icons md-20">person</i></li>
	</ul>
</div>
<div>
	<textarea ng-model="newmessage"></textarea>
	<button ng-click="send()"></button>
</div>