<div class="col-md-12 container-fluid">
    <div class="form-group label-static">
        <div class="col-xs-6 col-sm-4 col-md-4 col-lg-4">
            <label for="i11" class="control-label">{{ 'CHARTS.FROM' | translate }}</label>
            <div class="dropdown">
                <div class="dropdown-toggle" id="dropdown1" role="button" data-toggle="dropdown" data-target="#">
                    <div class="input-group">
                        <input type="text" class="form-control" data-ng-model="from" data-date-time-input="dddd DD/MM/YYYY HH:mm"><span class="input-group-addon"><i class="material-icons md-24">date_range</i></span>
                    </div>
                </div>
                <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                    <datetimepicker data-ng-model="from" data-datetimepicker-config="{ dropdownSelector: '#dropdown1' }" />
                </ul>
            </div>
        </div>
        <div class="col-xs-6 col-sm-4 col-md-4 col-lg-4">
            <label for="i11" class="control-label">{{ 'CHARTS.UNTIL' | translate }}</label>
            <div class="dropdown">
                <div class="dropdown-toggle" id="dropdown2" role="button" data-toggle="dropdown" data-target="#">
                    <div class="input-group">
                        <input type="text" class="form-control" data-ng-model="to" data-date-time-input="dddd DD/MM/YYYY HH:mm"><span class="input-group-addon"><i class="material-icons md-24">date_range</i></span>
                    </div>
                </div>
                <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                    <datetimepicker data-ng-model="to" data-datetimepicker-config="{ dropdownSelector: '#dropdown2' }" />
                </ul>
            </div>
        </div>
        <div class="col-xs-12 col-sm-4 col-md-3 col-md-offset-1 col-lg-3 col-lg-offset-1" style="padding-right: 0px">
            <button class="btn btn-raised btn-primary pull-right" style="margin-top:-2px;" type="button" ng-click="getStats()">
                {{ 'CHARTS.SHOW' | translate }}
                <i class="material-icons md-24">insert_chart</i>
            </button>
        </div>
    </div>
</div>

<div class="col-md-12 container-fluid" style="margin-top: 40px" ng-if="charts != null">
    
    <div class="col-md-6">
        <div class="lead"><i>Φιλοξενούμενοι</i></div>
        <canvas id="{{'chart' + type}}" 
                class="chart chart-line" 
                chart-data="charts.total.data" 
                chart-labels="charts.total.labels" 
                chart-legend="true" 
                chart-series="charts.total.series">
        </canvas>
    </div>
    <div class="col-md-6">
        <div class="lead"><i>Αφίξεις - Αναχωρήσεις</i></div>
        <canvas id="{{'chart' + type}}" 
                class="chart chart-line" 
                chart-data="charts.special.data" 
                chart-labels="charts.special.labels" 
                chart-legend="true" 
                chart-series="charts.special.series">
        </canvas>
    </div>
</div>

<div class="col-md-12 container-fluid" style="margin-top: 20px">
    <div class="col-md-4" ng-repeat="facility in facilities">

        <div class="lead"><i>{{facility.Name}}</i></div>

        <canvas id="{{'chart' + type}}"
                class="chart chart-line" 
                chart-data="charts[facility.Id].data" 
                chart-labels="charts[facility.Id].labels" 
                chart-legend="true" 
                chart-series="charts[facility.Id].series">
        </canvas> 
    </div>
</div>
