
<div class="col-md-4 col-md-offset-4">
    <div class="form-group label-static ng-is-empty">
        <label for="i12" class="control-label">Επιλογή Ημέρας</label>
        <div class="dropdown">
            <div class="dropdown-toggle" id="dropdown2" role="button" data-toggle="dropdown" data-target="#">
                <div class="input-group">
                    <input type="text" class="form-control" data-ng-model="data.reportDate" data-date-time-input="DD/MM/YYYY"><span class="input-group-addon"><i class="material-icons md-24">date_range</i></span>
                </div>
            </div>
            <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                <datetimepicker data-ng-model="data.reportDate" data-datetimepicker-config="{ dropdownSelector: '#dropdown2', startView:'day', minView:'day' }"></datetimepicker>
            </ul>
        </div>
    </div>
</div>

<div class="col-md-12">
    <cinnamon-grid grid-columns="reportcolumns"
                   grid-items="reports"
                   show-grid-buttons="false"
                   show-pdf-button="true"
                   hide-item-buttons="true"
                   highlight="false"
                   show-pdf-fn="showPdf(data.reportDate)">
    </cinnamon-grid>
</div>
