<div class="pull-right">
    <span class="btn btn-danger btn-fab fab" ng-click="delete()">
        <i class="material-icons" title="Διαγραφή Προμηθευτή">delete</i>
    </span>
    <span class="btn btn-success btn-fab fab" ng-click="save()">
        <i class="material-icons" title="Αποθήκευση Προμηθευτή">save</i>
    </span>
</div>

<div class="col-md-4">
    <facility-details facility="data"></facility-details>
</div>

<div class="col-md-8" style="padding-top:20px;">
    <uib-tabset justified="true" active="activeTab">
        <uib-tab index="0" heading="Στέγαση">
            <div class="shadow-box btn-group-sm">
                <cinnamon-grid grid-columns="housingcolumns"
                               grid-items="data.Housings"
                               show-grid-buttons="true"
                               hide-item-buttons="true"
                               row-click-fn="editHousing(item)"
                               grid-create-fn="addHousing()">
                </cinnamon-grid>
            </div>
        </uib-tab>
        <uib-tab index="1" heading="Επαφές">
            <div class="shadow-box btn-group-sm">
                <cinnamon-grid grid-columns="contactColumns"
                               grid-items="data.Contacts"
                               show-grid-buttons="true"
                               hide-item-buttons="true"
                               row-click-fn="showContact(item)"
                               grid-create-fn="addContact()">
                </cinnamon-grid>
            </div>
        </uib-tab>
        <uib-tab index="2" heading="Υποστήριξη">
            <div class="shadow-box btn-group-sm">
                <cinnamon-grid grid-columns="providerColumns"
                               grid-items="data.Providers"
                               show-grid-buttons="true"
                               hide-item-buttons="true"
                               row-click-fn="showProvider(item)"
                               grid-create-fn="addProvider()">
                </cinnamon-grid>
            </div>
        </uib-tab>
        <uib-tab index="3" heading="Αναφορές">
            <div class="shadow-box btn-group-sm">
                <cinnamon-grid grid-columns="reportcolumns"
                               grid-items="data.Reports"
                               show-grid-buttons="false"
                               hide-item-buttons="true"
                               highlight="!item.IsAcknowledged"
                               row-click-fn="showReport(item)">
                </cinnamon-grid>
            </div>
        </uib-tab>
    </uib-tabset>
</div>