<div class="col-md-4">
    <facility-details facility="data"></facility-details>
</div>

<div class="col-md-8">
    <uib-tabset justified="true" active="active">
        <uib-tab index="0" heading="Στέγαση">
            <cinnamon-grid grid-columns="housingcolumns"
                           grid-items="data.Housings"
                           show-grid-buttons="false"
                           hide-item-buttons="true"
                           highlight="!item.IsAcknowledged"
                           row-click-fn="showHousing(item)">
            </cinnamon-grid>
        </uib-tab>
        <uib-tab index="2" heading="Επαφές">
            <cinnamon-grid grid-columns="contactscolumns"
                           grid-items="data.Contacts"
                           show-grid-buttons="false"
                           hide-item-buttons="true"
                           highlight="!item.IsAcknowledged"
                           row-click-fn="showContact(item)">
            </cinnamon-grid>
        </uib-tab>
        <uib-tab index="3" heading="Υποστήριξη">
             <cinnamon-grid grid-columns="providerscolumns"
                            grid-items="data.Providers"
                            show-grid-buttons="false"
                            hide-item-buttons="true"
                            highlight="!item.IsAcknowledged"
                            row-click-fn="showProvider(item)">
              </cinnamon-grid>
        </uib-tab>
        <uib-tab index="4" heading="Αναφορές">
            <cinnamon-grid grid-columns="reportcolumns"
                           grid-items="data.Reports"
                           show-grid-buttons="false"
                           hide-item-buttons="true"
                           highlight="!item.IsAcknowledged"
                           row-click-fn="showReport(item)">
            </cinnamon-grid>
        </uib-tab>
    </uib-tabset>
</div>