<div ng-if="view != 'table'" class="col-xs-7 col-sm-8 col-md-8 col-lg-8 ">
    <table class="table-condensed table-bordered text-center">
        <thead>
            <tr>
                <th></th>
                <th>Φιλοξενούμενοι</th>
                <th>Χωρητικότητα</th>
                <th>Αφίξεις</th>
                <th>Μερίδες</th>
                <th>Ελλείψεις</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td><b>Σύνολο</b></td>
                <td>{{totalAttendance}}</td>
                <td>{{totalCapacity}}</td>
                <td>{{totalArrivals}}</td>
                <td>{{totalRations}}</td>
                <td>{{totalRations - totalCapacity}}</td>
            </tr>
        </tbody>
    </table>
</div>
<div class="col-xs-5 col-sm-4 col-md-4 col-lg-4 pull-right">
    <button class="btn btn-info btn-fab pull-right" ng-click="addFacility()" title="{{ 'CARD_LIST.ADD' | translate }}"><i class="material-icons">add</i></button>
    <button class="btn btn-primary btn-fab pull-right" style="margin-right: 20px" ng-click="toggleView()" title="{{ 'CARD_LIST.CARD' | translate }}"><i class="material-icons">{{view == 'table' ? 'view_compact' : 'view_comfy'}}</i></button>
</div>
<div ng-if="view != 'table'" ng-repeat="category in groups">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <h3>{{category.key}}</h3>
    </div>
    <div ng-repeat="facility in category.items | orderBy: ['-_expanded', 'Area']" id="{{facility.Id}}" class="col-lg-2 col-md-3 col-sm-4 col-xs-6" style="padding: 5px">
        <div class="card" style="cursor: pointer" ng-style="cardStyle(facility)">
            <div class="card-height-indicator"></div>
            <div class="card-content" ng-class="{ 'bg-warning': facility.Utilization > 74 && facility.Utilization <= 100, 'bg-danger': facility.Utilization > 100 }">
                <div class="card-body">
                    <div ng-style="(facility._expanded == 1) ? {'height' : '30px'} : {'height' : '70px' }" ng-click="(facility._expanded != 1) ? toggleCard(facility) : null">
                        <a href="#/facilities/{{facility.Id}}" style="font-size: 16px; font-weight: 700; height: 50px; text-overflow: ellipsis">{{facility.Name}}</a>
                        <div ng-if="facility._expanded == 1" class="dropdown pull-right" style="margin-top:-10px;">
                            <a class="btn btn-primary btn-raised dropdown-toggle" data-toggle="dropdown">
                                {{'GRID.NEW' | translate }} <span class="caret"></span>
                            </a>
                            <ul class="dropdown-menu">
                                <li><a href="" ng-click="issueReport(5, facility.Id)"><i class="text-info material-icons">assignment</i> {{ 'REPORT_TITLES.SITUATION' | translate }}</a></li>
                                <li><a href="" ng-click="issueReport(0, facility.Id)"><i class="text-info material-icons">restaurant_menu</i> {{ 'REPORT_TITLES.FEEDING' | translate }}</a></li>
                                <li><a href="" ng-click="issueReport(1, facility.Id)"><i class="text-info material-icons">local_hotel</i> {{ 'REPORT_TITLES.HOUSING' | translate }}</a></li>
                                <li><a href="" ng-click="issueReport(2, facility.Id)"><i class="text-info material-icons">airport_shuttle</i> {{ 'REPORT_TITLES.TRANSPORT' | translate }}</a></li>
                                <li><a href="" ng-click="issueReport(4, facility.Id)"><i class="text-info material-icons">message</i> {{ 'REPORT_TITLES.APPLICATION' | translate }}</a></li>
                                <li><a href="" ng-click="issueReport(3, facility.Id)"><i class="text-danger material-icons">error</i> {{ 'REPORT_TITLES.PROBLEM' | translate }}</a></li>
                                <li><a href="" ng-click="issueReport(6, facility.Id)"><i class="text-success material-icons">email</i> {{ 'REPORT_TITLES.MESSAGE' | translate }}</a></li>
                            </ul>
                        </div>
                    </div>
                    <div ng-if="facility._expanded == 1" style="height: 312px" ng-click="toggleCard(facility)">
                        <span class="lead">{{facility.Area}}</span>
                        <div ng-if="facility.FeedingProviders.length > 0" style="padding-top: 5px">Φορείς Σίτισης:</div>
                        <div ng-repeat="feed in facility.FeedingProviders" style="padding-left: 10px">
                            <a ng-href="{{'#/providers/' + feed.Id}}">({{feed.Administration}}) {{ feed.Name }}</a>
                        </div>
                        <div ng-if="facility.HealthcareProviders.length > 0" style="padding-top: 5px">Υγειονομική Μέριμνα:</div>
                        <div ng-repeat="health in facility.HealthcareProviders" style="padding-left: 10px">
                            <a ng-href="{{'#/providers/' + health.Id}}">({{health.Administration}}) {{ health.Name }}</a>
                        </div>
                        <div ng-if="facility.LogisticsProviders.length > 0" style="padding-top: 5px">Εφοδιασμός:</div>
                        <div ng-repeat="log in facility.LogisticsProviders" style="padding-left: 10px">
                            <a ng-href="{{'#/providers/' + log.Id}}">({{log.Administration}}) {{ log.Name }}</a>
                        </div>
                        <div ng-if="facility.Supervisor" style="position: absolute; bottom: 40px">
                            <div>Υπεύθυνος:</div>
                            <a ng-href="{{'#/contacts/' + facility.Supervisor.Id}}">({{facility.Supervisor.Administration}}) {{ facility.Supervisor.Name }}</a>
                        </div>
                    </div>
                    <div>
                        <span class="pull-left">{{facility.Attendance}} / {{facility.Capacity}}</span>
                        <span class="pull-right">{{facility.Utilization}}%</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<table ng-if="view == 'table'" class="table table-condensed table-bordered table-striped text-center" style="margin-top:5px">
    <thead style="background-color: black; opacity: 0.6; color: white; font-weight: bold">
        <tr>
            <td rowspan="2" style="vertical-align: middle">Δομή</td>
            <td colspan="3">Φιλοξενούμενοι</td>
            <td colspan="3">Σίτιση</td>
            <td colspan="2">Υγειονομική Μέριμνα</td>
            <td colspan="1">Εφοδιασμός</td>
            <td colspan="4">Ελλείψεις</td>
            <td colspan="1">Επαφές</td>
        </tr>
        <tr>
            <td>Παραμένοντες</td>
            <td>Χωρητικότητα</td>
            <td>Αφίξεις</td>
            <td>Φορέας</td>
            <td>Μερίδες</td>
            <td>Ελλείψεις</td>
            <td>Φορέας</td>
            <td>Προβλήματα</td>
            <td>Φορείς</td>
            <td>Ανθρωπιστικής Βοήθειας</td>
            <td>Υγειονομικού Υλικού</td>
            <td>Εξοπλισμού Εγκαταστάσεων</td>
            <td>Λειτουργίας</td>
            <td>Υπεύθυνος</td>
        </tr>
    </thead>
    <tbody ng-repeat="category in groups">
        <tr style="background-color: black; opacity: 0.6; color: white; font-weight: bold">
            <td colspan="15">{{category.key}}</td>
        </tr>
        <tr ng-repeat="facility in category.items" style="font-weight:500">
            <td style="text-align:left">
                <a ng-href="{{'#/facilities/' + facility.Id}}">
                    <span>{{$index +1}}.</span>
                    <span> {{facility.Name}}</span>
                </a>
            </td>
            <td ng-class="attendanceClass(facility)">{{facility.Attendance}}</td>
            <td>{{facility.Capacity}}</td>
            <td>{{facility.Arrivals}}</td>
            <td>
                <div ng-repeat="feed in facility.FeedingProviders">
                    <a ng-href="{{'#/providers/' + feed.Id}}">({{feed.Administration}}) {{ feed.Name }}</a>
                </div>
            </td>
            <td>{{facility.MaxRations}}</td>
            <td ng-class="{'text-danger': (facility.MaxRations - facility.Capacity < 0)}">{{facility.MaxRations - facility.Capacity}}</td>
            <td>
                <div ng-repeat="health in facility.HealthcareProviders">
                    <a ng-href="{{'#/providers/' + health.Id}}">({{health.Administration}}) {{ health.Name }}</a>
                </div>
            </td>
            <td>
                <div ng-repeat="report in facility.HealthcareReports">
                    <a ng-href="{{'#/reports/' + report.Type + '/' + report.FacilityId + '/' + report.Id}}">{{report.Subject}}</a>
                </div>
            </td>
            <td>
                <div ng-repeat="log in facility.LogisticsProviders">
                    <a ng-href="{{'#/providers/' + log.Id}}">({{log.Administration}}) {{ log.Name }}</a>
                </div>
            </td>
            <td>
                <div ng-repeat="report in facility.HumanitarianReports">
                    <a ng-href="{{'#/reports/' + report.Type + '/' + report.FacilityId + '/' + report.Id}}">{{report.Subject}}</a>
                </div>
            </td>
            <td>
                <div ng-repeat="report in facility.HealthRequestReports">
                    <a ng-href="{{'#/reports/' + report.Type + '/' + report.FacilityId + '/' + report.Id}}">{{report.Subject}}</a>
                </div>
            </td>
            <td>
                <div ng-repeat="report in facility.EquipmentReports">
                    <a ng-href="{{'#/reports/' + report.Type + '/' + report.FacilityId + '/' + report.Id}}">{{report.Subject}}</a>
                </div>
            </td>
            <td>
                <div ng-repeat="report in facility.FunctionalityReports">
                    <a ng-href="{{'#/reports/' + report.Type + '/' + report.FacilityId + '/' + report.Id}}">{{report.Subject}}</a>
                </div>
            </td>
            <td>
                <a ng-if="facility.Supervisor" ng-href="{{'#/contacts/' + facility.Supervisor.Id}}">({{facility.Supervisor.Administration}}) {{ facility.Supervisor.Name }}</a>
            </td>
        </tr>
    </tbody>
    <tfoot>
        <tr style="font-weight: bold">
            <td>Σύνολο</td>
            <td>{{totalAttendance}}</td>
            <td>{{totalCapacity}}</td>
            <td>{{totalArrivals}}</td>
            <td></td>
            <td>{{totalRations}}</td>
            <td>{{totalRations - totalCapacity}}</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
    </tfoot>
</table>
