<div class="row">
    <div class="col-md-12">
        <button class="btn btn-info btn-fab pull-right" ng-click="addFacility()" title="{{ 'CARD_LIST.ADD' | translate }}"><i class="material-icons">add</i></button>
        <button class="btn btn-primary btn-fab pull-right" style="margin-right:30px" ng-click="toggleView()" title="{{ 'CARD_LIST.CARD' | translate }}"><i class="material-icons">view_compact</i></button>
    </div>
</div>
<table class="table table-condensed table-bordered table-striped text-center" style="margin-top:5px">
    <thead style="background-color: black; opacity: 0.6; color: white; font-weight: bold">
        <tr>
            <td rowspan="2" style="vertical-align: middle">Δομή</td>
            <td colspan="2">Φιλοξενούμενοι</td>
            <td colspan="2">Μετακινήσεις</td>
            <td colspan="3">Σίτιση</td>
            <td colspan="3">Υγειονομική Υποστήριξη</td>
        </tr>
        <tr>
            <td>Παραμένοντες</td>
            <td>Χωρητικότητα</td>
            <td>Αφίξεις</td>
            <td>Αναχωρήσεις</td>
            <td>Φορέας</td>
            <td>Μερίδες</td>
            <td>Ελλείψεις</td>
            <td>Φορέας</td>
            <td>Προβλήματα</td>
            <td>Ελλείψεις</td>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="facility in facilities">
            <td>{{facility.Name}}</td>
            <td>{{facility.Attendance}}</td>
            <td>{{facility.Capacity}}</td>
            <td></td>
            <td></td>
            <td></td>
            <td>{{facility.MaxRations}}</td>
            <td ng-class="{'text-danger': (facility.MaxRations - facility.Capacity < 0)}">{{facility.MaxRations - facility.Capacity}}</td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
    </tbody>
    <tfoot>
        <tr style="font-weight: bold">
            <td>Σύνολο</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
    </tfoot>
</table>
