<form name="form">
    <div class="pull-right">
        <button class="btn btn-primary btn-fab fab" ng-click="makeReport()">
            <i class="material-icons" title="{{ 'FACILITY.REPORT' | translate }}">publish</i>
        </button>
        <button class="btn btn-danger btn-fab fab" ng-click="delete()">
            <i class="material-icons" title="{{ 'FACILITY.DELETE' | translate }}">delete</i>
        </button>
        <button class="btn btn-success btn-fab fab" ng-click="save()" ng-disabled="form.$invalid">
            <i class="material-icons" title="{{ 'FACILITY.SAVE' | translate }}">save</i>
        </button>
    </div>
        <div class="col-md-4">
            <facility-details facility="data"></facility-details>
        </div>
        <div class="col-md-8" style="padding-top:20px;">
            <uib-tabset justified="true" active="activeTab">
                <uib-tab index="0" heading="{{ 'FACILITY.HOUSING' | translate }}">
                    <div class="shadow-box btn-group-sm">
                        <cinnamon-grid grid-columns="housingcolumns"
                                       grid-items="data.Housings"
                                       show-grid-buttons="true"
                                       hide-item-buttons="true"
                                       row-click-fn="editHousing(item)"
                                       grid-create-fn="addHousing()">
                        </cinnamon-grid>
                    </div>
                </uib-tab>
                <uib-tab index="1" heading="{{ 'FACILITY.CONTACTS' | translate }}">
                    <div class="shadow-box btn-group-sm">
                        <cinnamon-grid grid-columns="contactColumns"
                                       grid-items="data.Contacts"
                                       show-grid-buttons="true"
                                       hide-item-buttons="true"
                                       row-click-fn="showContact(item)"
                                       grid-create-fn="addContact()">
                        </cinnamon-grid>
                    </div>
                </uib-tab>
                <uib-tab index="2" heading="{{ 'FACILITY.PROVIDERS' | translate }}">
                    <div class="shadow-box btn-group-sm">
                        <cinnamon-grid grid-columns="providerColumns"
                                       grid-items="data.Providers"
                                       show-grid-buttons="true"
                                       hide-item-buttons="true"
                                       row-click-fn="showProvider(item)"
                                       grid-create-fn="addProvider()">
                        </cinnamon-grid>
                    </div>
                </uib-tab>
                <uib-tab index="3" heading="{{ 'FACILITY.REPORTS' | translate }}">
                    <div class="shadow-box btn-group-sm">
                        <cinnamon-grid grid-columns="reportcolumns"
                                       grid-items="data.Reports"
                                       show-grid-buttons="false"
                                       hide-item-buttons="true"
                                       row-click-fn="showReport(item)"
                                       custom-action-fn="createReport(item)"
                                       highlight="!item.IsAcknoledged"
                                       custom-action-items="reportactions">
                        </cinnamon-grid>
                    </div>
                </uib-tab>
                <uib-tab index="4" heading="{{ 'FACILITY.PERSONS' | translate }}">
                    <div class="container-fluid shadow-box">
                        <i>{{ 'FACILITY.PERSONS' | translate }}</i>: {{calcIdentityCount()}}
                        <div class="form" ng-repeat="identity in data.Identities track by $index">
                            <div class="form-group label-static col-md-3">
                                <label class="control-label">{{ 'PERSON.NATIONALITY' | translate }}</label>
                                <input type="text" class="form-control" ng-model="identity.Nationality" readonly>
                            </div>
                            <div class="form-group label-static col-md-2">
                                <label class="control-label">{{ 'OPERATION.PERSON_COUNT' | translate }}</label>
                                <input type="number" class="form-control" ng-model="identity.Count" min="0" readonly>
                                <span class="material-input"></span>
                            </div>
                            <div class="form-group label-static col-md-5">
                                <label class="control-label">{{ 'OPERATION.NOTES' | translate }}</label>
                                <input type="text" class="form-control" ng-model="identity.Notes">
                            </div>
                        </div>
                    </div>
                    <div class="container-fluid shadow-box">
                        <i>{{ 'SITUATION_REPORT.SENSITIVITY' | translate }}</i>: {{calcSensibilityCount()}}
                        <div class="form" ng-repeat="sensitivity in data.Sensitivities track by $index">
                            <div class="form-group label-static col-md-3">
                                <label class="control-label">{{ 'SITUATION_REPORT.SENSITIVITY_TYPE' | translate }}</label>
                                <input type="text" class="form-control" ng-model="sensitivity.Type" readonly>
                            </div>
                            <div class="form-group label-static col-md-2">
                                <label class="control-label">{{ 'OPERATION.PERSON_COUNT' | translate }}</label>
                                <input type="number" class="form-control" ng-model="sensitivity.Count" min="0" readonly>
                                <span class="material-input"></span>
                            </div>
                            <div class="form-group label-static col-md-5">
                                <label class="control-label">{{ 'OPERATION.NOTES' | translate }}</label>
                                <input type="text" class="form-control" ng-model="sensitivity.Notes">
                            </div>
                        </div>
                    </div>
                    <div class="container-fluid shadow-box">
                        <i>{{ 'SITUATION_REPORT.PROCEDURE' | translate }}</i>: {{calcProcedureCount()}}
                        <div class="form" ng-repeat="procedure in data.Procedures track by $index">
                            <div class="form-group label-static col-md-4">
                                <label class="control-label">{{ 'OPERATION.TYPE' | translate }}</label>
                                <input type="text" class="form-control" ng-model="procedure.Type" readonly>
                            </div>
                            <div class="form-group label-static col-md-3">
                                <label class="control-label">{{ 'PERSON.NATIONALITY' | translate }}</label>
                                <input type="text" class="form-control" ng-model="procedure.Nationality" readonly>
                            </div>
                            <div class="form-group label-static col-md-2">
                                <label class="control-label">{{ 'OPERATION.PERSON_COUNT' | translate }}</label>
                                <input type="number" class="form-control" ng-model="procedure.Count" min="0" readonly>
                                <span class="material-input"></span>
                            </div>
                        </div>
                    </div>
                </uib-tab>
            </uib-tabset>
        </div>
    </form>