<div class="pull-right">
	<span class="btn btn-danger btn-fab fab" ng-click="delete()">
		<i class="material-icons" title="Διαγραφή Προμηθευτή">delete</i>
	</span>
	<span class="btn btn-success btn-fab fab" ng-click="save()">
		<i class="material-icons" title="Αποθήκευση Προμηθευτή">save</i>
	</span>
</div>
<h2>Εγκατάσταση</h2>
<div class="col-md-4">
    <div class="form-group label-static ng-is-empty">
        <label for="{{index + 1}}" class="control-label">Κατηγορία</label>
        <input type="text" class="form-control" id="{{$index + 1}}" ng-model="housing.Type" uib-typeahead="state for state in lookup.housingCategories | filter:$viewValue">
    </div>
    <div class="form-group label-static ng-is-empty">
        <label for="i3" class="control-label">Κατάσταση</label>
        <textarea class="form-control" id="i2" ng-model="housing.Status" />
    </div>
    <div class="form-group label-static ng-is-empty">
        <label for="Administration" class="control-label">Χωρητικότητα</label>
        <input type="text" class="form-control" ng-model="housing.Capacity" />
    </div>
    <div class="form-group label-static ng-is-empty">
        <label for="i2" class="control-label">Πλήθος</label>
        <textarea class="form-control" id="i2" ng-model="housing.Count" />
    </div>
    <div class="form-group label-static ng-is-empty">
        <label for="i4" class="control-label">Φιλοξενούμενοι</label>
        <input type="text" class="form-control" ng-model="housing.Attedance" />
    </div>
</div>