<div class="map-container col-xs-12 col-sm-12 col-md-12 col-lg-12" style="padding-left: 0px; padding-right: 0px">   
    <button class="btn btn-primary btn-fab pull-right" ng-click="toggleLabels()" title="{{ 'FACILITY_MAP.LABELS' | translate }}"><i class="material-icons">local_offer</i></button> 
    <table class="table-condensed table-bordered text-center">
        <thead>
            <tr>
                <th></th>
                <th>{{'FACILITY_DETAILS.ATTENDANCE' | translate}}</th>
                <th>{{'FACILITY_DETAILS.TITLE_CAPACITY' | translate}}</th>
                <th>{{'FACILITY_CARD.ARRIVALS' | translate}}</th>
                <th>{{'FEEDING_REPORT.RATIONS' | translate}}</th>
                <th>{{'FACILITY_CARD.SHORTAGE' | translate}}</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td><b>{{'FACILITY_CARD.TOTAL' | translate}}</b></td>
                <td>{{totalAttendance}}</td>
                <td>{{totalCapacity}}</td>
                <td>{{totalArrivals}}</td>                
                <td>{{totalRations}}</td>
                <td>{{totalRations - totalCapacity}}</td>
            </tr>
        </tbody>
    </table>
    <input id="pac-input" class="map-controls" type="text" placeholder="{{'GRID.SEARCH' | translate}}">
    <div id="map" class="map-container">

    </div>
</div>