<div class="col-md-12">
    <h2 class="pull-left">{{'MENU.OPERATIONS'|translate}}</h2>
    <button class="btn btn-primary btn-fab fab pull-right" ng-click="util.goBack()" title="{{ 'REPORT.BACK' | translate }}"><i class="material-icons">arrow_back</i></button>
</div>
<cinnamon-grid grid-columns="operationcolumns"
               grid-items="operations"
               show-grid-buttons="true"
               hide-item-buttons="true"
               highlight="false"
               row-click-fn="openItem(item)"
               grid-create-fn="addItem()">
</cinnamon-grid>