<div class="pull-right">
    <span class="btn btn-danger btn-fab fab" ng-click="delete()">
        <i class="material-icons" title="Διαγραφή Προμηθευτή">delete</i>
    </span>
    <span class="btn btn-success btn-fab fab" ng-click="save()">
        <i class="material-icons" title="Αποθήκευση Προμηθευτή">save</i>
    </span>
</div>
<h2>Ταυτοποιημένος</h2>
<div class="col-md-6">
    <div class="form-group label-static ng-is-empty">
        <label for="Name" class="control-label">Όνομα</label>
        <input type="text" class="form-control" id="Name" ng-model="data.Name">
    </div>
    <div class="form-group label-static ng-is-empty">
        <label for="Passport" class="control-label">Διαβατήριο</label>
        <input type="text" class="form-control" id="Passport" ng-model="data.Passport">
    </div>
    <div class="form-group label-static ng-is-empty">
        <label for="Nationality" class="control-label">Εθνικότητα</label>
        <input type="text" class="form-control" id="Nationality" ng-model="data.Nationality">
    </div>
    <div class="form-group">
        <div class="checkbox">
            <label>
                <input type="checkbox" ng-model="data.IsSensitive"> Ευπαθής
            </label>
        </div>
    </div>
    <div class="form-group label-static ng-is-empty">
        <label for="Sensitivity" class="control-label">Ευπάθεια</label>
        <input type="text" class="form-control" id="Sensitivity" ng-model="data.Sensitivity">
    </div>
    <div class="form-group label-static ng-is-empty is-empty">
        <label for="FacilityId" class="control-label">Δομή Φιλοξενείας</label>
        <select id="FacilityId" class="form-control" ng-model="data.FacilityId">
            <option ng-repeat="facility in facilities" value="{{facility.Id}}">
                {{facility.Description}}
            </option>
        </select>
    </div>
</div>
<div class="col-md-6">
    <h2>Συγγενείς</h2>
    <cinnamon-grid grid-columns="reportcolumns"
                   grid-items="data.Relatives"
                   show-grid-buttons="true"
                   hide-item-buttons="true"
                   highlight="false"
                   row-click-fn="showRelative(item)"
                   grid-create-fn="addRelative()">
    </cinnamon-grid>
</div>