<div class="form-group label-floating ng-is-empty">
    <label for="i1" class="control-label">Θέμα</label>
    <input type="text" class="form-control" id="i1" ng-model="report.Subject">
</div>
<div ng-if="reportType != 2" class="form-group label-floating ng-is-empty">
    <label for="i2" class="control-label">Δομή Φιλοξενίας</label>
    <input type="text" class="form-control" id="i2" ng-model="report.Facility.Name" readonly>
</div>
<div ng-if="reportType == 0" ng-include="'/templates/reports/feeding-report.html'" />
<div ng-if="reportType == 1" ng-include="'/templates/reports/housing-report.html'" />
<div ng-if="reportType == 2" ng-include="'/templates/reports/transport-report.html'" />
<div ng-if="reportType == 5" ng-include="'/templates/reports/situation-report.html'" />
<div class="form-group label-floating ng-is-empty">
    <label for="i3" class="control-label">Κείμενο</label>
    <textarea class="form-control" id="i3" ng-model="report.Notes" />
</div>
