<div class="pull-right">
    <span class="btn btn-danger btn-fab fab" ng-click="delete()">
        <i class="material-icons" title="{{ 'USER.DELETE' | translate }}">delete</i>
    </span>
    <span class="btn btn-success btn-fab fab" ng-click="save()">
        <i class="material-icons" title="{{ 'USER.SAVE' | translate }}">save</i>
    </span>
</div>
<h2>{{ 'USER.TITLE' | translate }}<span style="color:#009688; font-weight:300">{{user.FullName}}</span></h2>
<div class="col-md-6">
    <div class="form-group label-static ng-is-empty">
        <label for="FullName" class="control-label">{{ 'USER.FULLNAME' | translate }}</label>
        <input type="text" class="form-control" id="FullName" ng-model="user.FullName">
    </div>
    <div class="form-group label-static ng-is-empty">
        <label for="UserName" class="control-label">{{ 'USER.USERNAME' | translate }}</label>
        <input type="text" class="form-control" id="UserName" ng-model="user.UserName">
    </div>
    <div class="form-group label-static ng-is-empty">
        <label for="Nationality" class="control-label">{{ 'USER.EMAIL' | translate }}</label>
        <input type="email" class="form-control" id="Email" data-error="{{ 'USER.EMAIL_ERROR' | translate }}" required ng-model="user.Email">
    </div>
    <div class="form-group label-static ng-is-empty">
        <label for="PhoneNumber" class="control-label">{{ 'USER.PHONENUMBER' | translate }}</label>
        <input type="text" class="form-control" id="PhoneNumber" ng-model="user.PhoneNumber">
    </div>
    <div ng-show="isInsert">
        <div class="form-group label-static ng-is-empty">
            <label for="Nationality" class="control-label">{{ 'USER.PASSWORD' | translate }}</label>
            <input type="password" class="form-control" id="inputPassword" required ng-model="user.Password">
        </div>
        <div class="form-group label-static ng-is-empty">
            <label for="password" class="control-label">{{ 'USER.CONFIRM_PASSWORD' | translate }}</label>
            <input type="password" class="form-control" id="passwordConfirm" data-match="#password" data-error="{{ 'USER.CONFIRM_PASSWORD_ERROR' | translate }}" required ng-model="user.PasswordConfirm">
        </div>
    </div>
    <div class="pull-right" ng-show="!isInsert">
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#simple-dialog">{{ 'USER.CHANGE_PASSWORD' | translate }}
            <div class="ripple-container"></div>
        </button>
    </div>
</div>
<div class="col-md-6">
    <div class="shadow-box btn-group-sm" style="margin-top: 20px;">
        <label class="control-label">{{ 'USER.ROLES' | translate }}</label>
        <span class="btn-group-sm pull-right">
        <a href="javascript:void(0)" class="btn btn-info" ng-click="addRole()"><i class="material-icons">add</i></a>
    </span>
        <div class="form-inline" ng-repeat="role in user.Roles track by $index">
            <div class="form-group label-static ng-is-empty">
                <label class="control-label">{{ 'USER.ROLE' | translate }}</label>
                <input type="text" class="form-control" ng-model="user.Roles[$index]">
            </div>
            <a href="javascript:void(0)" class="btn btn-info" style="padding: 0px; left: -25px; top: 5px" ng-click="user.Roles.splice($index, 1)"><i class="material-icons">clear</i></a>
        </div>
    </div>
    <div class="shadow-box btn-group-sm" style="margin-top: 20px;">
        <label class="control-label">{{ 'USER.CLAIMS' | translate }}</label>
        <span class="btn-group-sm pull-right">
        <a href="javascript:void(0)" class="btn btn-info" ng-click="addClaim()"><i class="material-icons">add</i></a>
    </span>
        <div class="form-inline" ng-repeat="claim in user.Claims">
            <select class="form-control" ng-model="claim.type">
                <option ng-repeat="phoneType in phoneTypes" value="{{phoneType}}">
                    {{phoneType}}
                </option>
            </select>
            <input type="text" class="form-control" placeholder="{{ 'USER.CLAIM' | translate }}" ng-model="claim.value">
            <a href="javascript:void(0)" class="btn btn-info" style="padding: 0px; left: -25px; top: 5px" ng-click="user.Claims.splice($index, 1)"><i class="material-icons">clear</i></a>
        </div>
    </div>
</div>
<div id="simple-dialog" class="modal fade" tabindex="-1" style="display: none;">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <div class="form-group label-static ng-is-empty">
                    <label for="Password" class="control-label">{{ 'USER.NEW_PASSWORD' | translate }}</label>
                    <input type="password" class="form-control" id="Password" required ng-model="user.NewPassword">
                </div>
                <div class="form-group label-static ng-is-empty">
                    <label for="Password" class="control-label">{{ 'USER.CONFIRM_PASSWORD' | translate }}</label>
                    <input type="password" class="form-control" id="Password" required ng-model="user.PasswordConfirm">
                </div>
                <button type="button" ng-click="changePassword()" class="btn btn-primary" data-toggle="modal" data-target="#simple-dialog">{{ 'USER.CHANGE_PASSWORD' | translate }}
                    <div class="ripple-container"></div>
                </button>
            </div>
        </div>
    </div>
</div>
