/*html {
    height: 100%;
}

body {
    height: 100%;
}

.container-fluid {
    height: 100%;
    height: calc(100% - 165px);
}

.map-container {
    height: 100%;
    height: calc(100% - 0px);
}*/

.mydatepicker .btn {
    padding: 0px;
    margin: 0px;
}

.mydatepicker .form-group .form-control {
    padding: 0px;
    margin: 0px;
}

.nav-tabs {
    border-bottom: 2px solid #DDD;
}

    .nav-tabs > li > a {
        border: none;
        color: #ff5722;
    }

        .nav-tabs > li.active > a, .nav-tabs > li > a:hover {
            border: none;
            color: #fff !important;
            background: transparent;
        }

        .nav-tabs > li > a::after {
            content: "";
            background: #ff5722;
            height: 2px;
            position: absolute;
            width: 100%;
            left: 0px;
            bottom: -1px;
            transition: all 250ms ease 0s;
            transform: scale(0);
        }

    .nav-tabs > li.active > a::after, .nav-tabs > li:hover > a::after {
        transform: scale(1);
    }

.tab-nav > li > a::after {
    background: #21527d none repeat scroll 0% 0%;
    color: #fff;
}

.tab-pane {
    padding: 15px 0px 0px 0px;
}

.tab-content {
    padding: 0px;
}

.tabset-inverted .nav-tabs > li {
    background: #ff5722;
}

    .tabset-inverted .nav-tabs > li > a {
        border: none;
        color: #009688;
    }

    .tabset-inverted .nav-tabs > li.active > a, .nav-tabs > li > a:hover {
        border: none;
        color: #fff !important;
        background: transparent;
    }

    .tabset-inverted .nav-tabs > li > a::after {
        content: "";
        background: #009688;
        height: 2px;
        position: absolute;
        width: 100%;
        left: 0px;
        bottom: -1px;
        transition: all 250ms ease 0s;
        transform: scale(0);
    }

    .tabset-inverted .nav-tabs > li.active > a::after, .nav-tabs > li:hover > a::after {
        transform: scale(1);
    }

.tabset-inverted .tab-nav > li > a::after {
    background: #21527d none repeat scroll 0% 0%;
    color: #fff;
}


/*@media only screen and (max-device-width: 640px) {
    .fab {
      padding: 5px 10px;
      font-size: 12px;
      line-height: 1.5;
      border-radius: 3px;
      background-color: red !important;
    }
}*/

.save-alert {
    -webkit-transition: all 0.8s ease-in-out;
    -moz-transition: all 0.8s ease-in-out;
    -o-transition: all 0.8s ease-in-out;
    transition: all 0.8s ease-in-out;
}

    .save-alert.morph {
        -webkit-transform: translate(150em,0);
        -moz-transform: translate(150em,0);
        -o-transform: translate(150em,0);
        -ms-transform: translate(150em,0);
        transform: translate(150em,0);
    }

.save-alert-fab {
    -webkit-transition: all 0.5s ease-in;
    -moz-transition: all 0.5s ease-in;
    -o-transition: all 0.5s ease-in;
    transition: all 0.5s ease-in;
    transition-delay: 0.5s;
    -webkit-transition-delay: 0.5s;
    -moz-transition-delay: 0.5s;
    -o-transition-delay: 0.5s;
}

    .save-alert-fab.morph {
        -webkit-transform: translate(0, -5em);
        -moz-transform: translate(0, -5em);
        -o-transform: translate(0, -5em);
        -ms-transform: translate(0, -5em);
        transform: translate(0, -5em);
    }

.form-control {
    max-width:900px;
.form-control {
    max-width: 900px;
}

/* Width breakpoints */
@media only screen and (min-width: 1000px) { .content-container { width: 86%; } }
@media only screen and (min-width: 1280px) {
    .content-container {
        width: 87%;
        background-color: white;
        background-color: white;
        box-shadow: 0 0 2px rgba(0,0,0,.12),0 2px 4px rgba(0,0,0,.24);
        padding: 0px;
    }
}

.report-header {
    padding-left:20px; 
    font-size:28pt;
    padding-bottom:30px;
    color: #555;
}
@media only screen and (min-width: 1600px) { .content-container { width: 90%; } }

/* Height breakpoints */
@media only screen and (max-height: 567px) { .map-container { height: 400px; } }
@media only screen and (min-height: 568px) { .map-container { height: 460px; } }
@media only screen and (min-height: 640px) { .map-container { height: 340px; } }
@media only screen and (min-height: 667px) { .map-container { height: 560px; } }
@media only screen and (min-height: 700px) { .map-container { height: 600px; } }
@media only screen and (min-height: 736px) { .map-container { height: 630px; } }
@media only screen and (min-height: 800px) { .map-container { height: 550px; } }
@media only screen and (min-height: 900px) { .map-container { height: 800px; } }
@media only screen and (min-height: 1000px) { .map-container { height: 900px; } }
