<!doctype html>
<html>

<head>
    <meta charset="utf-8">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <!-- Material Design fonts -->
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Roboto:300,400,500,700">
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/icon?family=Material+Icons">
    <script src="http://maps.googleapis.com/maps/api/js?language=el"></script>
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <!-- build:css(.) styles/vendor.css -->
    <!-- bower:css -->
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="bower_components/bootstrap-material-design/dist/css/bootstrap-material-design.css" />
    <link rel="stylesheet" href="bower_components/bootstrap-material-design/dist/css/ripples.css" />
    <link rel="stylesheet" href="bower_components/bootstrap-sweetalert/lib/sweet-alert.css" />
    <link rel="stylesheet" href="bower_components/toastr/toastr.css" />
    <link rel="stylesheet" href="bower_components/angular-loading-bar/build/loading-bar.css" />
    <link rel="stylesheet" href="bower_components/angular-chart.js/dist/angular-chart.css" />
    <!-- endbower -->
    <!-- endbuild -->
    <!-- build:css(.tmp) styles/main.css -->
    <link rel="stylesheet" href="styles/main.css">
    <link rel="stylesheet" href="styles/site.css">
    <link rel="stylesheet" href="styles/typeahead.css">
    <link rel="stylesheet" href="styles/datetimepicker.css" />
    <!-- endbuild -->
</head>

<body ng-app="zeusclientApp">
    <!--[if lte IE 8]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->
    <!-- Add your site or application content here -->
    <div class="header" ng-controller="MenuCtrl">
        <div class="navbar navbar-default" role="navigation" ng-cloak>
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#js-navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a ng-class="getClass(['/'])" href="#/" class="navbar-brand" style="font-family: serif;">{{ 'MENU.BRAND' | translate }}</a>
                </div>
                <div class="collapse navbar-collapse">
                    <ul class="nav navbar-nav" ng-show="isAuth()">
                        <li class="dropdown" ng-class="getClass(['/facilities','/contacts','/providers','/persons','/charts', '/reports/archive'])">
                            <a href="" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">{{ 'MENU.FACILITIES' | translate }} <span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li ng-class="getClass(['/facilities'])"><a href="#/facilities">{{ 'MENU.FACILITIES' | translate }}</a></li>
                                <li ng-class="getClass(['/contacts'])"><a href="#/contacts">{{ 'MENU.CONTACTS' | translate }}</a></li>
                                <li ng-class="getClass(['/providers'])"><a href="#/providers">{{ 'MENU.PROVIDERS' | translate }}</a></li>
                                <li ng-class="getClass(['/persons'])"><a href="#/persons">{{ 'MENU.PERSONS' | translate }}</a></li>
                                <li ng-class="getClass(['/charts'])"><a href="#/charts">{{ 'MENU.CHARTS' | translate }}</a></li>
                                <li ng-class="getClass(['/reports/archive'])"><a href="#/reports/archive">{{ 'MENU.ARCHIVES' | translate }}</a></li>
                            </ul>
                        </li>
                        <li class="dropdown" ng-class="getClass(['/dailyreport', '/dailyreport/stats'])">
                            <a href="" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">{{ 'MENU.REPORTS' | translate }} <span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li ng-class="getClass(['/dailyreport'])"><a href="#/dailyreport">{{ 'Μετακινήσεων' | translate }}</a></li>
                                <li ng-class="getClass(['/dailyreport'])"><a href="#/dailyreport">{{ 'Σίτισης' | translate }}</a></li>
                                <li ng-class="getClass(['/dailyreport'])"><a href="#/dailyreport">{{ 'Υγειονομικού' | translate }}</a></li>
                                <li ng-class="getClass(['/dailyreport'])"><a href="#/dailyreport">{{ 'Προβλήματων' | translate }}</a></li>
                                <li ng-class="getClass(['/dailyreport'])"><a href="#/dailyreport">{{ 'Ελλείψεων' | translate }}</a></li>
                                <li ng-class="getClass(['/dailyreport'])"><a href="#/dailyreport">{{ 'Προβλήματων' | translate }}</a></li>
                                <li ng-class="getClass(['/dailyreport'])"><a href="#/dailyreport">{{ 'Οδηγιών' | translate }}</a></li>
                                <li ng-class="getClass(['/dailyreport'])"><a href="#/dailyreport">{{ 'MENU.REPORTS' | translate }}</a></li>
                                <li ng-class="getClass(['/dailyreport/stats'])"><a href="#/dailyreport/stats">{{ 'MENU.CHARTS' | translate }}</a></li>
                            </ul>
                        </li>
                        <li ng-class="getClass(['/operations'])"><a href="#/operations">{{ 'MENU.OPERATIONS' | translate }}</a></li>
                        <li ng-show="isAdmin()" ng-class="getClass(['/calendar'])"><a href="#/calendar">{{ 'MENU.CALENDAR' | translate }}</a></li>
                        <li ng-class="getClass(['/map'])"><a href="#/map">{{ 'MENU.MAP' | translate }}</a></li>
                        <li class="dropdown" ng-show="isAdmin()" ng-class="getClass(['/users','/log'])">
                            <a href="" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">{{ 'MENU.ADMIN' | translate }} <span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li ng-show="isAdmin()" ng-class="getClass(['/users'])"><a href="#/users">{{ 'MENU.USERS' | translate }}</a></li>
                                <li ng-show="isAdmin()" ng-class="getClass(['/log'])"><a href="#/log">{{ 'MENU.LOG' | translate }}</a></li>
                            </ul>
                        </li>
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                        <li><a href="" ng-click="changeLanguage()" title="{{ languageTitle }}">{{language}}</a></li>
                        <li class="dropdown">
                            <a href="" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><i class="material-icons md-20">help</i> <span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a href="#/help">{{ 'MENU.SUPPORT.HELP' | translate }}</a></li>
                                <li><a href="#/about">{{ 'MENU.SUPPORT.ABOUT' | translate }}</a></li>
                            </ul>
                        </li>
                        <li class="dropdown">
                            <a href="" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><i class="material-icons md-20">person</i> {{userInfo.fullname}} <span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li ng-hide="isAuth()"><a href="#/login">{{ 'MENU.USER_MENU.SIGN_IN' | translate }}</a></li>
                                <li ng-show="isAuth()"><a href="" data-toggle="modal" data-target="#simple-dialog">{{ 'MENU.USER_MENU.CHANGE_PASSWORD' | translate }}</a></li>
                                <li ng-show="isAuth()"><a ng-href="#/reports/messages">{{ 'MENU.USER_MENU.MESSAGES' | translate }}
                                <span class="badge">{{unread}}</span>
                                </a></li>
                                <li ng-show="isAuth()" role="separator" class="divider"></li>
                                <li ng-show="isAuth()"><a href="" ng-click="logOut()">{{ 'MENU.USER_MENU.SIGN_OUT' | translate }}</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div id="simple-dialog" class="modal fade" tabindex="-1" style="display: none;">
            <div class="modal-dialog">
                <div class="modal-content">
                    <h2 style="padding:24px 0px 0px 24px">{{ 'MENU.TITLE' | translate }}</h2>
                    <div class="modal-body">
                        <div class="form-group label-static ng-is-empty">
                            <label for="Password" class="control-label">{{ 'MENU.USER_MENU.OLD_PASSWORD' | translate }}</label>
                            <input type="password" class="form-control" id="Password" required ng-model="user.Password">
                        </div>
                        <div class="form-group label-static ng-is-empty">
                            <label for="Password" class="control-label">{{ 'MENU.USER_MENU.NEW_PASSWORD' | translate }}</label>
                            <input type="password" class="form-control" id="Password" required ng-model="user.NewPassword">
                        </div>
                        <div class="form-group label-static ng-is-empty">
                            <label for="Password" class="control-label">{{ 'MENU.USER_MENU.CONFIRM_NEW_PASSWORD' | translate }}</label>
                            <input type="password" class="form-control" id="Password" required ng-model="user.PasswordConfirm">
                        </div>
                        <button type="button" ng-click="changePassword()" class="btn btn-primary" data-toggle="modal" data-target="#simple-dialog">{{ 'MENU.USER_MENU.CHANGE_PASSWORD_BTN' | translate }}
                            <div class="ripple-container"></div>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div ng-view=""></div>
    </div>
    <!--<div class="footer">
        <div class="container-fluid">
            <div><i class="material-icons">copyright</i> from the Cinnamon team</div>
        </div>
    </div>-->
    <!-- Google Analytics: change UA-XXXXX-X to be your site's ID -->
    <script>
    ! function(A, n, g, u, l, a, r) {
        A.GoogleAnalyticsObject = l, A[l] = A[l] || function() {
                (A[l].q = A[l].q || []).push(arguments)
            }, A[l].l = +new Date, a = n.createElement(g),
            r = n.getElementsByTagName(g)[0], a.src = u, r.parentNode.insertBefore(a, r)
    }(window, document, 'script', 'https://www.google-analytics.com/analytics.js', 'ga');

    ga('create', 'UA-XXXXX-X');
    ga('send', 'pageview');
    </script>
    <!-- build:js(.) scripts/vendor.js -->
    <!-- bower:js -->
    <script src="bower_components/jquery/dist/jquery.js"></script>
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/bootstrap/dist/js/bootstrap.js"></script>
    <script src="bower_components/angular-animate/angular-animate.js"></script>
    <script src="bower_components/angular-cookies/angular-cookies.js"></script>
    <script src="bower_components/angular-messages/angular-messages.js"></script>
    <script src="bower_components/angular-resource/angular-resource.js"></script>
    <script src="bower_components/angular-route/angular-route.js"></script>
    <script src="bower_components/angular-sanitize/angular-sanitize.js"></script>
    <script src="bower_components/angular-touch/angular-touch.js"></script>
    <script src="bower_components/bootstrap-material-design/dist/js/material.js"></script>
    <script src="bower_components/bootstrap-material-design/dist/js/ripples.js"></script>
    <script src="bower_components/bootstrap-sweetalert/lib/sweet-alert.js"></script>
    <script src="bower_components/toastr/toastr.js"></script>
    <script src="bower_components/angular-bootstrap/ui-bootstrap-tpls.js"></script>
    <script src="bower_components/arrive/src/arrive.js"></script>
    <script src="bower_components/moment/moment.js"></script>
    <script src="bower_components/angular-loading-bar/build/loading-bar.js"></script>
    <script src="bower_components/angular-local-storage/dist/angular-local-storage.js"></script>
    <script src="bower_components/Chart.js/Chart.js"></script>
    <script src="bower_components/angular-translate/angular-translate.js"></script>
    <script src="bower_components/angular-chart.js/dist/angular-chart.js"></script>
    <!-- endbower -->
    <script src="bower_components/moment/locale/el.js"></script>
    <script src="bower_components/angular-date-time-input/src/dateTimeInput.js"></script>
    <!-- endbuild -->
    <!-- build:js({.tmp,app}) scripts/scripts.js -->
    <script src="vendor/infobox.js"></script>
    <script src="vendor/datetimepicker.js"></script>
    <script src="vendor/datetimepicker.templates.js"></script>
    <script src="scripts/app.js"></script>
    <script src="scripts/providers/translate.provider.js"></script>
    <script src="scripts/services/utilities.js"></script>
    <script src="scripts/services/lookup.service.js"></script>
    <script src="scripts/services/message.service.js"></script>
    <script src="scripts/services/auth.service.js"></script>
    <script src="scripts/services/auth.interceptor.service.js"></script>
    <script src="scripts/controllers/main.js"></script>
    <script src="scripts/controllers/about.js"></script>
    <script src="scripts/controllers/menu.js"></script>
    <script src="scripts/controllers/facilities.js"></script>
    <script src="scripts/controllers/persons.js"></script>
    <script src="scripts/controllers/person.js"></script>
    <script src="scripts/controllers/facility.js"></script>
    <script src="scripts/controllers/report.js"></script>
    <script src="scripts/controllers/map.js"></script>
    <script src="scripts/controllers/login.js"></script>
    <script src="scripts/controllers/providers.js"></script>
    <script src="scripts/controllers/provider.js"></script>
    <script src="scripts/controllers/lookup-modal.js"></script>
    <script src="scripts/controllers/contacts.js"></script>
    <script src="scripts/controllers/contact.js"></script>
    <script src="scripts/controllers/charts.js"></script>
    <script src="scripts/controllers/users.js"></script>
    <script src="scripts/controllers/user.js"></script>
    <script src="scripts/controllers/housing.js"></script>
    <script src="scripts/controllers/archive.js"></script>
    <script src="scripts/controllers/operation.js"></script>
    <script src="scripts/controllers/operations.js"></script>
    <script src="scripts/controllers/calendar.js"></script>
    <script src="scripts/controllers/calendarEntry.js"></script>
    <script src="scripts/controllers/log.js"></script>
    <script src="scripts/controllers/messages.js"></script>
    <script src="scripts/controllers/dailyreport.js"></script>
    <script src="scripts/controllers/dailyreport_charts.js"></script>
    <script src="scripts/directives/facility-details.js"></script>
    <script src="scripts/directives/on-finish-render.js"></script>
    <script src="scripts/directives/phone-list.js"></script>
    <script src="scripts/directives/card-list.js"></script>
    <script src="scripts/directives/grid.js"></script>
    <!-- endbuild -->
</body>

</html>
