<div class="col-md-12">
    <button class="btn btn-info btn-fab pull-right" ng-click="addFacility()" title="{{ 'CARD_LIST.ADD' | translate }}"><i class="material-icons">add</i></button>
    <button class="btn btn-primary btn-fab pull-right" style="margin-right:30px" ng-click="toggleView()" title="{{ 'CARD_LIST.TABLE' | translate }}"><i class="material-icons">view_comfy</i></button>
</div>
<div ng-repeat="card in cards" class="{{cardClass}}" style="padding: 5px">
    <card-list-item card-template="{{cardTemplate}}"></card-list-item>
</div>