<h2>{{ 'FACILITY_DETAILS.TITLE' | translate }}<span class="text-primary" style="font-weight:300">{{facility.Name}}</span></h2>

    <div class="form-group label-static ng-is-empty" ng-class="{ 'has-error': form.Name.$invalid }">
        <label for="i1" class="control-label">{{ 'FACILITY_DETAILS.NAME' | translate }}</label>
        <input type="text" class="form-control" id="i1" name="Name" ng-model="facility.Name" required>
    </div>    
    <div class="form-group label-static ng-is-empty" ng-class="{ 'has-error': form.Category.$invalid }">
        <label for="Category" class="control-label">{{ 'FACILITY_DETAILS.CATEGORY' | translate }}</label>
        <input type="text" class="form-control" id="Category" name="Category" ng-model="facility.Category" uib-typeahead="cat for cat in lookup.facilityCategories | filter:$viewValue" required>
    </div>
    <div class="form-group label-static ng-is-empty" ng-class="{ 'has-error': form.Area.$invalid }">
        <label for="Area" class="control-label">{{ 'FACILITY_DETAILS.AREA' | translate }}</label>
        <input type="text" class="form-control" id="Area" name="Area" ng-model="facility.Area" uib-typeahead="ar for ar in lookup.facilityAreas | filter:$viewValue" required>
    </div>
    <div class="form-group label-static ng-is-empty">
        <label for="i2" class="control-label">{{ 'FACILITY_DETAILS.DESCRIPTION' | translate }}</label>
        <input type="text" class="form-control" id="i2" ng-model="facility.Description">
    </div>
    <div class="form-group label-static ng-is-empty">
        <label for="i3" class="control-label">{{ 'FACILITY_DETAILS.TYPE' | translate }}</label>
        <input type="text" class="form-control" id="i3" ng-model="facility.Type" uib-typeahead="state for state in lookup.facilityTypes | filter:$viewValue">
    </div>
    <div class="row">
        <div class="row" style="padding-left:15px">
            <div class="col-md-offset-4 col-md-4">
                <span style="font-weight:300">{{ 'FACILITY_DETAILS.TITLE_CAPACITY' | translate }}</span>
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group label-static ng-is-empty">
                <label for="Capacity" class="control-label">{{ 'FACILITY_DETAILS.CAPACITY' | translate }}</label>
                <input type="number" class="form-control" id="Capacity" ng-model="facility.Capacity" 
                       title="{{'FACILITY_DETAILS.CAPACITY_TOOLTIP' | translate}}" min="0">
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group label-static ng-is-empty">
                <label for="MaxCapacity" class="control-label">{{ 'FACILITY_DETAILS.MAXCAPACITY' | translate }}</label>
                <input type="number" class="form-control" id="MaxCapacity" ng-model="facility.MaxCapacity" 
                       title="{{'FACILITY_DETAILS.MAXCAPACITY_TOOLTIP' | translate}}" min="0">
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group label-static ng-is-empty">
                <label for="RepCapacity" class="control-label">{{ 'FACILITY_DETAILS.REPORT_CAPACITY' | translate }}</label>
                <input type="number" class="form-control" id="RepCapacity" ng-model="facility.ReportCapacity" 
                       title="{{'FACILITY_DETAILS.REPORT_CAPACITY_TOOLTIP' | translate}}" min="0">
            </div>
        </div>
    </div>
    <div class="row">        
        <div class="col-md-4">
            <div class="form-group label-static ng-is-empty">
                <label for="maxRations" class="control-label">{{ 'FACILITY_DETAILS.MAX_RATIONS' | translate }}</label>
                <input type="number" class="form-control" id="maxRations" ng-model="facility.MaxRations"
                       title="{{'FACILITY_DETAILS.MAX_RATIONS_TOOLTIP' | translate}}" min="0">
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group label-static ng-is-empty">
                <label for="Attendance" class="control-label">{{ 'FACILITY_DETAILS.ATTENDANCE' | translate }}</label>
                <input type="number" class="form-control" id="Attendance" ng-model="facility.Attendance" title="{{'FACILITY_DETAILS.ATTENDANCE_TOOLTIP' | translate}}" readonly>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <div class="checkbox">
                    <label>
                        <input type="checkbox" ng-model="facility.IsSecure" disabled> {{ 'FACILITY_DETAILS.ISSECURE' | translate }}
                    </label>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <div class="checkbox">
                    <label>
                        <input type="checkbox" ng-model="facility.HasHealthcare" disabled> {{ 'FACILITY_DETAILS.HAS_HEALTHCARE' | translate }}
                    </label>
                </div>

            </div>
        </div>
    </div>
    <div class="form-group label-static ng-is-empty">
        <label for="Status" class="control-label">{{ 'FACILITY_DETAILS.STATUS' | translate }}</label>
        <input type="text" class="form-control" id="Status" ng-model="facility.Status" uib-typeahead="state for state in lookup.statuses | filter:$viewValue">
    </div>
    <div class="form-group label-static ng-is-empty">
        <label for="i11" class="control-label">{{ 'FACILITY_DETAILS.STATUS_DATETIME' | translate }}</label>
        <div class="dropdown">
            <div class="dropdown-toggle" id="dropdown1" role="button" data-toggle="dropdown" data-target="#">
                <div class="input-group">
                    <input type="text" class="form-control" data-ng-model="facility.StatusDateTime" data-date-time-input="dddd DD/MM/YYYY HH:mm"><span class="input-group-addon"><i class="material-icons md-24">date_range</i></span>
                </div>
            </div>
            <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                <datetimepicker data-ng-model="facility.StatusDateTime" data-datetimepicker-config="{ dropdownSelector: '#dropdown1' }"
                                data-before-render="beforeRenderStartDate($view, $dates, $leftDate, $upDate, $rightDate)"></datetimepicker>
            </ul>
        </div>
    </div>
    <div class="form-group label-static ng-is-empty">
        <label for="i12" class="control-label">{{ 'FACILITY_DETAILS.STATUS_ECT' | translate }}</label>
        <div class="dropdown">
            <div class="dropdown-toggle" id="dropdown2" role="button" data-toggle="dropdown" data-target="#">
                <div class="input-group">
                    <input type="text" class="form-control" data-ng-model="facility.StatusECT" data-date-time-input="dddd DD/MM/YYYY HH:mm"><span class="input-group-addon"><i class="material-icons md-24">date_range</i></span>
                </div>
            </div>
            <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                <datetimepicker data-ng-model="facility.StatusECT" data-datetimepicker-config="{ dropdownSelector: '#dropdown2' }"
                                data-before-render="beforeRenderEndDate($view, $dates, $leftDate, $upDate, $rightDate)"></datetimepicker>
            </ul>
        </div>
    </div>

    <div class="form-group label-static ng-is-empty">
        <label for="Administration" class="control-label">{{ 'FACILITY_DETAILS.ADMINISTRATION' | translate }}</label>
        <input type="text" class="form-control" id="Administration" ng-model="facility.Administration" uib-typeahead="state for state in lookup.administrations | filter:$viewValue">
    </div>

    <div class="form-group label-static ng-is-empty">
        <label for="i5" class="control-label">{{ 'FACILITY_DETAILS.NOTES' | translate }}</label>
        <textarea class="form-control" id="i5" ng-model="facility.Notes"></textarea>
    </div>

