<div class="modal-header">
    <h3 class="modal-title">
        {{ lookupCtrl.title | translate }}
    </h3>
</div>
<div class="modal-body">
    <cinnamon-grid grid-columns="lookupCtrl.lookupColumns"
              grid-items="lookupCtrl.list"
              selected-items="lookupCtrl.selectedItems"
              striped="true"
              show-grid-buttons="false"
              hide-item-buttons="true"
              page-size="0"
              allow-row-click="true"
              show-check-boxes="true"
              row-click-fn="lookupCtrl.selectItem(item)">
    </cinnamon-grid>
</div>
<div class="modal-footer">
    <button class="btn btn-raised btn-warning" type="button" ng-click="lookupCtrl.cancel()">{{ 'LOOKUP_MODAL.CANCEL' | translate }}</button>
    <button class="btn btn-raised btn-success" type="button" ng-click="lookupCtrl.ok()">{{ 'LOOKUP_MODAL.SELECT' | translate }}</button>    
</div>
