<div class="panel panel-primary">
    <div class="panel-heading">
        <h4>
            <span style="padding-left:10px">{{card.Name}}</span>
        </h4>
    </div>
    <div class="panel-body">
        <div class="form-group label-static ng-is-empty">
            <label for="c_i1" class="control-label">Τίτλος</label>
            <input type="text" class="form-control" id="c_i1" ng-model="card.Title" uib-typeahead="title for title in lookup.getContactTitles() | filter:$viewValue">
        </div>
        <div class="form-group label-static ng-ng-is-empty">
            <label for="c_i2" class="control-label">Οργανισμός</label>
            <input type="text" class="form-control" id="c_i2" ng-model="card.Company" uib-typeahead="company for company in lookup.getCompanies() | filter:$viewValue">
        </div>
        <div class="form-group label-static ng-is-empty">
            <label for="c_i3" class="control-label">Διεύθυνση Επικοινωνίας</label>
            <textarea class="form-control" id="c_i3" type="text" ng-model="card.Address"></textarea>
        </div>

        <phone-list phones="card.Phones"></phone-list>

        <div class="form-group label-static ng-has-error">
            <label for="c_i4" class="control-label">email</label>
            <input type="email" class="form-control" id="c_i4" ng-model="card.Email">
            <span class="material-input"></span>
        </div>
        <div class="form-group label-static ng-is-empty">
            <label for="c_i5" class="control-label">Τύπος Επαφής</label>
            <input type="text" class="form-control" id="c_i5" ng-model="card.Type" uib-typeahead="type for type in lookup.getContactTypes() | filter:$viewValue">
        </div>
    </div>
    <div class="panel-footer">
        <div class="btn-group btn-group-justified">
            <span ng-click="removeCard($index)" class="btn btn-xs" title="Διαγραφή" style="padding: 0px"><i class="material-icons md-36 text-danger">delete</i></span>
        </div>
    </div>
</div>
