<div class="panel panel-primary" ng-class="{ 'panel-warning': housing.Utilization > 74, 'panel-danger': housing.Utilization > 100 }">
    <div class="panel-heading">

        <i class="material-icons md-36 pull-left">home</i>
        <h4>
            <span style="padding-left:10px">{{housing.Type}}</span>
            <span class="pull-right"><strong>{{housing.Utilization}}%</strong></span>
        </h4>

    </div>
    <div class="panel-body">

        <div class="row">
            <div class="col-md-6">
                <div class="form-group label-floating ng-is-empty">
                    <label for="{{index + 1}}" class="control-label">Κατηγορία</label>
                    <input type="text" class="form-control" id="{{$index + 1}}" ng-model="housing.Type" uib-typeahead="state for state in categories | filter:$viewValue">
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group label-floating is-empty">
                    <label for="Count" class="control-label">Πλήθος</label>
                    <input type="number" class="form-control" id="Count" ng-model="housing.Count">
                </div>
            </div>
        </div>

        <div class="form-group label-floating ng-is-empty">
            <label for="Status" class="control-label">Κατάσταση</label>
            <input type="text" class="form-control" id="Status" ng-model="housing.Status" uib-typeahead="state for state in statuses | filter:$viewValue">
        </div>

        <div class="row">
            <div class="col-md-6">
                <div class="form-group label-floating ng-is-empty">
                    <label for="Capacity" class="control-label">Χωρητικότητα</label>
                    <input type="number" class="form-control" id="Capacity" ng-model="housing.Capacity">
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group label-floating ng-is-empty">
                    <label for="Attendance" class="control-label">Φιλοξενούμενοι</label>
                    <input type="number" class="form-control" id="Attendance" ng-model="housing.Attendance" readonly>
                </div>
            </div>
        </div>
    </div>
    <div class="panel-footer">
        <div class="clearfix">
            <a href="#" class="btn btn-xs pull-right" title="Διαγραφή" style="padding: 0px"><i class="material-icons md-36">delete</i></a>
        </div>
    </div>

</div>