<div class="panel panel-primary" ng-class="{ 'panel-warning': card.Utilization > 74, 'panel-danger': card.Utilization > 100 }">
    <div class="panel-heading" ng-click="goto('/facilities/' + card.Id)" style="cursor: pointer">
        <i class="material-icons md-36 pull-left">home</i>
        <h4>
            <span style="padding-left:10px">{{card.Name}}</span>
            <span class="pull-right"><strong>{{card.Utilization}}%</strong></span>
        </h4>
    </div>
    <div class="panel-body" style="height: 100px">
        <p style="height: 30px; overflow: hidden; text-overflow: ellipsis">{{card.Description}}</p>

        <p class="text-primary pull-left">      
            <br />      
            {{ 'FACILITY_CARD.GUESTS' | translate }}<span class="badge">{{card.Attendance}} / {{card.Capacity}}</span>
        </p>
        <p class="text-primary pull-right">
            <a href="" ng-click="goto('/facilities/' + card.Id + '?tab=3')">{{ 'FACILITY_CARD.REPORTS' | translate }}<span class="badge pull-right">{{card.ReportsCount}}</span></a>            
            <br />
            <a href="" ng-click="goto('/facilities/' + card.Id + '?tab=4')">{{ 'FACILITY_CARD.IDENTIFIED' | translate }}<span class="badge pull-right">{{card.PersonsCount}}</span></a>
        </p>
    </div>
    <div class="panel-footer">
        <div class="btn-group btn-group-justified">
            <a href="javascript:void(0)" ng-click="issueReport(4, card.Id)" class="btn btn-xs" title="{{ 'FACILITY_CARD.APPLICATION' | translate }}" style="padding: 0px"><i class="text-info material-icons md-24">message</i></a>
            <a href="javascript:void(0)" ng-click="issueReport(1, card.Id)" class="btn btn-xs" title="{{ 'FACILITY_CARD.HOUSING' | translate }}" style="padding: 0px"><i class="text-info material-icons md-24">local_hotel</i></a>
            <a href="javascript:void(0)" ng-click="issueReport(2, card.Id)" class="btn btn-xs" title="{{ 'FACILITY_CARD.TRANSPORT' | translate }}" style="padding: 0px"><i class="text-info material-icons md-24">airport_shuttle</i></a>
            <a href="javascript:void(0)" ng-click="issueReport(0, card.Id)" class="btn btn-xs" title="{{ 'FACILITY_CARD.FEEDING' | translate }}" style="padding: 0px"><i class="text-info material-icons md-24">restaurant_menu</i></a>
            <a href="javascript:void(0)" ng-click="issueReport(5, card.Id)" class="btn btn-xs" title="{{ 'FACILITY_CARD.SITUATION' | translate }}" style="padding: 0px"><i class="text-info material-icons md-24">assignment</i></a>
            <a href="javascript:void(0)" ng-click="issueReport(3, card.Id)" class="btn btn-xs" title="{{ 'FACILITY_CARD.PROBLEM' | translate }}" style="padding: 0px"><i class="text-danger material-icons md-24">error</i></a>
            <a href="javascript:void(0)" ng-click="issueReport(6, card.Id)" class="btn btn-xs" title="{{ 'FACILITY_CARD.MESSAGE' | translate }}" style="padding: 0px"><i class="text-success material-icons md-24">email</i></a>
        </div>
    </div>
</div>
