<div class="panel panel-primary" ng-class="{ 'panel-warning': facility.Utilization > 74, 'panel-danger': facility.Utilization > 100 }">
    <div class="panel-heading">
        <a href="#/facilities/{{facility.Id}}" style="color: white">
            <i class="material-icons md-36 pull-left">home</i>
            <h4>
				<span style="padding-left:10px">{{facility.Name}}</span>
				<span class="pull-right"><strong>{{facility.Utilization}}%</strong></span>
			</h4>
        </a>
    </div>
    <div class="panel-body" style="height: 100px">
        <p style="height: 50px; overflow: hidden; text-overflow: ellipsis">{{facility.Description}}</p>

        <p class="text-primary">
            Φιλοξενούμενοι: {{facility.Attendance}} / {{facility.Capacity}}
        </p>
    </div>
    <div class="panel-footer">
        <div class="btn-group btn-group-justified">
            <a href="#" class="btn btn-xs" title="Αίτηση" style="padding: 0px"><i class="material-icons md-36">message</i></a>
            <a href="#" class="btn btn-xs" title="Στέγαση" style="padding: 0px"><i class="material-icons md-36">local_hotel</i></a>
            <a href="#" class="btn btn-xs" title="Μετακίνηση" style="padding: 0px"><i class="material-icons md-36">airport_shuttle</i></a>
            <a href="#" class="btn btn-xs" title="Σίτιση" style="padding: 0px"><i class="material-icons md-36">restaurant_menu</i></a>
            <a href="#" class="btn btn-xs" title="Αναφορά" style="padding: 0px"><i class="material-icons md-36">assignment</i></a>
            <a href="#" class="btn btn-xs" title="Πρόβλημα" style="padding: 0px"><i class="material-icons md-36">error</i></a>
        </div>
    </div>
</div>
