<div>
    <div class="btn-group-sm" ng-if="showGridButtons">
        <add-grid-button type="lookupType" list=""></add-grid-button>    
    </div>
    <div class="btn-group" ng-if="!hidePagingDropdown" style="padding-right: 20px; max-width:250px;">
        <a ng-show="pageSize == 0" class="btn btn-primary btn-raised">Όλα {{ '(' + items.length + ')' }}</a>
        <a ng-hide="pageSize == 0" class="btn btn-primary btn-raised">{{ pageSize }} εγγρ.</a>
        <a class="btn btn-primary btn-raised dropdown-toggle" data-target="#" data-toggle="dropdown"><span class="caret"></span></a>
        <ul class="dropdown-menu">
            <li><a href="" ng-click="setPageSize(10)">10</a></li>
            <li><a href="" ng-click="setPageSize(15)">15</a></li>
            <li><a href="" ng-click="setPageSize(20)">20</a></li>
            <li><a href="" ng-click="setPageSize(25)">25</a></li>
            <li><a href="" ng-click="setPageSize(50)">50</a></li>
            <li><a href="" ng-click="setPageSize(100)">100</a></li>
        </ul>
    </div>
    <div ng-if="!hidePagingDropdown" class="input-group pull-right" style="max-width:200px; margin-top:-15px; margin-bottom:-15px;">
        <input type="text" placeholder="Αναζήτηση" class="form-control" ng-model="gridFilter" ng-change="filtering()">
        <span class="input-group-btn">
            <i class="text-primary material-icons md-24" style="padding-top:15px; margin-left:-15px;">search</i>
        </span>
    </div>
</div>
<div class="table-responsive" style="padding-top: 10px; padding-bottom: 0px">
    <table class="table" ng-class="{'table-striped': striped}">
        <thead>
            <tr>
                <th ng-if="showCheckBoxes">
                    <input type="checkbox" ng-checked="allSelected()" ng-click="toggleSelectAll()">
                </th>
                <th ng-repeat="column in gridColumns" title="{{column.Tooltip}}">
                    <span class="btn-link" ng-click="sortBy(column.Field)" title="Ταξινόμηση">
                        <strong>{{column.Caption}}</strong>
                        <i ng-if="column.Field == sortingOrder && reverse == false" class="material-icons md-18" style="vertical-align:middle">keyboard_arrow_up</i>
                        <i ng-if="column.Field == sortingOrder && reverse == true" class="material-icons md-18" style="vertical-align:middle">keyboard_arrow_down</i>
                    </span>
                </th>
                <th ng-if="!hideItemButtons">Ενέργειες</th>
            </tr>
        </thead>
        <tbody ng-repeat="group in pages[page]">
            <tr ng-if="group.Id != ''" ng-click="gridGroupRowClick(group)" ng-style="groupRowCursor()" class="{{groupClass ? groupClass : 'warning'}}">
                <td colspan="30">
                    <strong>
                        <i class="{{groupIcon ? groupIcon : 'fa fa-object-group'}}" style="padding-right: 10px"></i>
                        <span>{{group.Id}}</span>
                        <span class="pull-right">( {{(groups | filter: {'Id': group.Id} : true)[0].items.length }} )</span>
                    </strong>
                </td>
            </tr>
            <tr ng-repeat="item in group.items" ng-style="rowCursor()" ng-class="{'warning': isSelected(item)}">
                <td ng-if="showCheckBoxes">
                    <input type="checkbox" ng-checked="isSelected(item)" ng-click="toggleSelect(item)">
                </td>
                <td ng-repeat="column in gridColumns" ng-class="{ 'danger': $eval(highlight)}" ng-style="{'font-weight': $eval(highlight) ? 'bold' : 'normal'}">
                    <!--
            Column Types:
            1.  undefined or empty  :   normal field
            2.  Lookup              :   Lookup, values in Values[]
            3.  DateTime            :   DateTime, format in Format (if empty it will be "dd-MM-yyy")
            4.  Html                :   Html code
            5.  LookupHtml          :   Lookup with html values, values in Values[]
        -->

                    <div ng-if="column.Type == '' || column.Type == undefined" ng-click="gridRowClick(item)"><div ng-if="column.Labels" ng-repeat="label in $eval(labels)"><span class="label label-primary pull-left">{{label}}</span></div>{{$eval('item.'+ column.Field)}}</div>
                    <div ng-if="column.Type == 'Lookup'" ng-click="gridRowClick(item)">{{ (column.Values | filter: {Id: $eval('item.' + column.Field)})[0]['Description'] }}</div>
                    <div ng-if="column.Type == 'DateTime'" ng-click="gridRowClick(item)">{{formatDateTime($eval('item.'+ column.Field), column.format)}}</div>
                    <div ng-if="column.Type == 'Html'" ng-bind-html="$eval('item.'+ column.Field)" ng-click="gridRowClick(item)"></div>
                    <div ng-if="column.Type == 'LookupHtml'" ng-click="gridRowClick(item)" ng-bind-html="(column.Values | filter: {Id: $eval('item.' + column.Field)})[0]['Description']"></div>
                    <div ng-if="column.Type == 'Boolean'" style="text-align:center;" ng-click="gridRowClick(item)"><div class="checkbox"><label><input type="checkbox" ng-checked="$eval('item.'+ column.Field)" disabled></label></div></div>
                    <div ng-if="column.Type == 'Percentage'" class="progress progress-striped" ng-click="gridRowClick(item)">
                        <div class="progress-bar progress-bar-info" ng-style="{width: $eval('item.'+ column.Field) + '%'}">{{$eval('item.'+ column.Field) + '%'}}</div>
                    </div>
                    <div ng-if="column.Type == 'CustomAction'" ng-click="customAction(item)" ng-bind-html="(column.Values | filter: {Id: $eval('item.' + column.Field)})[0]['Description']"></div>
                </td>
                <td ng-if="!hideItemButtons" style="width: 100px">
                    <div class="btn-group">
                        <button ng-if="checkAction('Edit')" type="button" title="Επεξεργασία" class="btn btn-link btn-xs" data-toggle="modal" data-target="#editModal" ng-click="editGridItem(item)">
                            <i class="fa fa-edit"></i>
                        </button>
                        <button ng-if="checkAction('Details')" type="button" title="Λεπτομέρειες" class="btn btn-link btn-xs" ng-click="viewGridItemDetails(item)">
                            <i class="fa fa-reorder"></i>
                        </button>
                        <button ng-if="checkAction('DetailsTab')" type="button" title="Άνοιγμα σε νέο παρ." class="btn btn-link btn-xs" ng-click="viewGridItemDetailsInTab(item)">
                            <i class="fa fa-external-link"></i>
                        </button>
                        <button ng-if="checkAction('Delete')" type="button" title="Διαγραφή" class="btn btn-link btn-xs" data-toggle="modal" data-target="#deleteModal" ng-click="deleteGridItem(item)">
                            <i class="fa fa-remove"></i>
                        </button>                        
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
</div>
<div style="padding-top: 0px; padding-bottom: 10px; margin-top: 0px">

    <span ng-if="items.length > 0"><strong><span ng-if="!hidePagingDropdown && items.length > pageSize">{{(page)*pageSize+1}}-{{page == pages.length-1 ? items.length : (page)*pageSize + pageSize}} / </span>{{items.length}} εγγρ.</strong></span>
    <span ng-if="items.length == 0"><strong>0 / 0 εγγρ.</strong></span>

    <ul ng-if="pageSize > 0" class="pagination pagination-inverse pagination-sm pull-right" style="margin:0px">
        <li ng-class="{disabled: page == 0}"><a ng-click="firstPage()"><i class="fa fa-fast-backward" /> Πρώτη</a>
        <li ng-class="{disabled: page == 0}"><a ng-click="previousPage()"><i class="fa fa-step-backward" /> Προηγούμενη</a></li>
        <li ng-class="{disabled: page == pages.length - 1}"><a ng-click="nextPage()">Επόμενη <i class="fa fa-step-forward" /></a></li>
        <li ng-class="{disabled: page == pages.length - 1}"><a ng-click="lastPage()">Τελευταία <i class="fa fa-fast-forward" /></a></li>
    </ul>

</div>
