<div class="modal-header">
    <h3 class="modal-title">
        {{title}}
    </h3>
</div>
<div class="modal-body">
    <cinnamon-grid grid-columns="lookupColumns"
              grid-items="list"
              selected-items="selectedItems"
              striped="true"
              show-grid-buttons="false"
              hide-item-buttons="true"
              page-size="0"
              allow-row-click="true"
              show-check-boxes="true"
              row-click-fn="selectItem(item)">
    </cinnamon-grid>
</div>
<div class="modal-footer">
    <button class="btn btn-success" type="button" ng-click="ok()">Επιλογή</button>
    <button class="btn btn-warning" type="button" ng-click="cancel()">Ακύρωση</button>
</div>
