<div class="panel panel-primary">
    <div class="panel-heading">
        <a href="#/facilities/{{card.Id}}" style="color: white">
            <i class="material-icons md-36 pull-left">cloud</i>
            <h4>
                <span style="padding-left:10px">{{card.Name}}</span>
            </h4>
        </a>
    </div>
    <div class="panel-body">
        <p style="height: 100px; overflow: auto; text-overflow: ellipsis">{{card.Description}}</p>

        <p class="text-primary">
            Αρ. Υπαλλήλων: {{card.PersonnelCount}}
        </p>
    </div>
    <div class="panel-footer">
        <div class="btn-group btn-group-justified">
            <span ng-click="removeCard($index)" class="btn btn-xs" title="Διαγραφή" style="padding: 0px"><i class="material-icons md-36 text-danger">delete</i></span>
        </div>
    </div>
</div>
